<section id="contact">
    <h2>Contactez-nous</h2>
    <p class="section-subtitle">Une question ? Un devis ? Nous sommes là pour vous répondre.</p>
    <div class="contact-container">
        <div class="contact-form">
            <form action="https://formspree.io/f/xwpvqejy" method="POST">
                <input type="text" name="entreprise" placeholder="Nom de l'entreprise" required>
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="message" placeholder="Votre message"></textarea>
                <button type="submit">Envoyer</button>
            </form>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119869.98779320787!2d4.816100245177896!3d45.80216502894386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4bf72cad633e7%3A0x4fc7620ec83edc0a!2s66%20Rte%20de%20Gen%C3%A8ve%2C%2001700%20Neyron!5e1!3m2!1sfr!2sfr!4v1739445720557!5m2!1sfr!2sfr;z=17&amp;om=0&amp;iwloc=addr&amp;iwd=0&amp;layer=0&amp;output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>

            </iframe>
        </div>
    </div>
</section>

